.venv
.idea
__pycache__
*.pyc
.DS_Store
env/
*.sqlite3
*.log
*.pot
*.mo
*.py[cod]
*$py.class
instance
.webassets-cache
htmlcov/
.coverage
.tox/
.nox/
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pyre/
.pytype/
.mypy_cache/
.dmypy.json

.ruff_cache/
.pyright/
.vscode/
*.egg
.marscode/
.env
.marscode
load_tests/*.csv
load_tests/*.html
test_output.txt
test_dashboard.html
dump.rdb
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal
logs/
